[submodule "sources/poky"]
	path = sources/poky
	url = git://git.yoctoproject.org/poky
	branch = scarthgap
[submodule "sources/meta-openembedded"]
	path = sources/meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = scarthgap
[submodule "sources/meta-freescale"]
	path = sources/meta-freescale
	url = https://git.yoctoproject.org/git/meta-freescale
	branch = scarthgap
[submodule "sources/meta-scalys"]
	path = sources/meta-scalys
	url = https://github.com/Scalys/meta-scalys.git
	branch = scarthgap
[submodule "sources/meta-cloud-services"]
	path = sources/meta-cloud-services
	url = git://git.yoctoproject.org/meta-cloud-services
	branch = scarthgap
[submodule "sources/meta-virtualization"]
	path = sources/meta-virtualization
	url = git://git.yoctoproject.org/meta-virtualization
	branch = scarthgap
[submodule "sources/meta-iotedge"]
	path = sources/meta-iotedge
	url = https://github.com/Azure/meta-iotedge.git
[submodule "sources/meta-security"]
	path = sources/meta-security
	url = git://git.yoctoproject.org/meta-security
	branch = scarthgap
[submodule "sources/sources/meta-clang"]
	path = sources/meta-clang
	url = https://github.com/kraj/meta-clang.git
	branch = scarthgap
[submodule "sources/meta-qoriq"]
	path = sources/meta-qoriq
	url = https://github.com/nxp-qoriq/meta-qoriq.git
	branch = scarthgap
[submodule "sources/meta-arm"]
	path = sources/meta-arm
	url = https://git.yoctoproject.org/meta-arm
	branch = scarthgap
[submodule "sources/meta-freescale-distro"]
	path = sources/meta-freescale-distro
	url = https://github.com/Freescale/meta-freescale-distro.git
	branch = scarthgap
